body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #688d1243;
}

.slider {
    position: relative;
    width: 600px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    overflow: hidden;
    border: 2px solid #ccc;
}

img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 1s ease-in-out;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
