body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2bc2d271;
}

.container {
    text-align: center;
}

.notification {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    transition: opacity 0.5s ease;
}
.hidden {
    display: none;
}
