body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.container {
    text-align: center;
}

#blinkText {
    font-size: 48px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
